body{
	background-color:#100e0d;
}

#heading{
	margin:1%;
	background-color:#848381;
	height:10%;
	border: 10px;
	border-radius: 30px;
	border-style: outset;
}

#homeImage{
	height: 100%;
}

#titleForGame{
    
}

.sizeDivs{
	display: none;
	margin: 10%;
	background-color: #242020;
	border-radius: 30px;
}

#pen1{
	height: 1%;
}
#pen2{
	height: 2%;
}
#pen3{
	height: 3%;
}
#pen4{
	height: 5%;
}
#pen5{
	height: 8%;
}
#pen6{
	height: 10%;
}

#canvas_image{
	 
}

#canvas_image{
	background-position: center;
    background-repeat:no-repeat;
	background-size: contain;
}

#toolSection{
	height:25%;
}

#paletteSection{
	height:70%;
}

#toolSection,#paletteSection{
	background-position: center;
    background-repeat:no-repeat;
	background-size: contain; 
	border: 8px solid;
	margin: 2%;
	border-radius: 30px;
	border-style: outset;
}

#imageSection{
	border: 20px;
	border-radius: 30px;
	border-style: outset;
}

#imageSection{
	height: 75%;	
}

#colorSection{
	height: 92%;	
}

#colorSection,#imageSection{
	margin: 2%;
}

#opacityDiv{
	margin-left: 58%;	
}

.opacityBtns{
	display: none;
	margin-left: 58%;
	margin:1%;
	height: 15%;
	width: 80%;
	border-radius: 50px;
}

#opacityBtn{
	margin:1%;
	height: 15%;
	width: 40%;
	border-radius: 50px;
	
}
#sizeBtn,#colourBtn{
	margin:1%;
	height: 15%;
	width: 25%;
	border-radius: 50px;
}
#drawingSection{
	margin:1%;
	background-color:#356535;
	height:84%;
	border: 10px;
	border-radius: 30px;
	border-style: outset;
}

#footer{
	height: 12%;
	margin-left: 2%;
	border: 5px;
	border-radius: 10px;
	border-style: outset;
}

#clear,#undo,#redo{
	height: 95%;
	width: 15%;
	background-position: center;
    background-repeat:no-repeat;
	background-size: contain; 
}