
html{
	height: 100%;
}

#background
{
	
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center;
		background-attachment:fixed;
		background-color: deepskyblue;
}


.blink_me {
animation: blinker 1s linear infinite;
}
@keyframes blinker {  
50% { opacity: 0.5; }
}


#sentence,#wrongSentence{
	font-weight: bold;
	font-size: 35px;
	margin-top:0%;
	color:white;
}
.modal 
	{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; 
   	background-color: rgba(0,0,0,0.3); 

}


.modal-content {/* 
   margin: auto;
   border: 0;
    width: 80%; */
}

#wrongWordsDiv{
	/*height:170px;*/
}

.spans{
	margin-left:1%;
}

.options{
	font-size:25px;
	color:white;
	font-family: cursive;
	font-weight: bold;
	margin-top:10%;
	margin-bottom: 10%;
}
#checkAnswer{
	font-weight: bold;
	font-size: 25px;
}

#scoreText{
	font-size: 30px;
	font-family: cursive;
	font-weight: bold;
	margin:-4% 0% 0% 90%;
}
#score{
	font-size: 30px;
	font-family: cursive;
	font-weight: bold;
	margin:1% 0% 0% 90%;
}
#lastmsg{
	font-size: 80px;
	font-family: cursive;
	font-weight: bold;
	margin-top: 10%;
	color:white;
}
#yourScore{
	font-size: 50px;
	font-family: cursive;
	font-weight: bold;
	color:white;
}



@media screen and (max-width:1024px)and (min-width:768px){

	}