@media screen and (min-width: 400px) {
    body{font-size: 15px;}

}

@media screen and (min-width: 900px) {
    #ballsWithValue{
        font-size: 20px;
    }
    .abacusNumber {
        font-size: 28px;
    }
}
@media screen and (min-width: 1100px) {
    #ballsWithValue{
        font-size: 32px;
    }
    .abacusNumber {
        font-size: 40px;
    }
}

#AbacusGameMainDiv {
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    position: fixed;
    margin-left: 0%;
    margin-right:0%;
    margin-top:  0%;
    width:100%;
    height:100%;
}

#levelPage{
    text-align: center;
}

.levelImages{
    width: 80%;
    margin-top: 130%;
}

.homeIcon{
    width: 115%;
    margin-left: 2%;
    margin-top: 7%;
}

#gamePage{
    width:100%;
    height:100%;
    display: none;
}

hr{
    margin-top: 0%;
    margin-bottom: 1%;
}

#ballsWithValue{
    font-weight: bold;
}

#ballsWithValue > div{
    background-color: rgba(248, 248, 255,0.6);
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 1%;
    border-radius: 15px;
    text-align: center;
    width: 24%;
    padding: 0px;
}

#ballsWithValue > div > img {
    width: 43%;
}

.abacusPad{
    height: 80%;
    margin-top: 3%;
}

.column{
    height:100%;
    margin-left: 0.3%;
    width: 9.6%;
    padding-left: 3px;
    padding-right: 3px;
}

.ballsInColumn{
    width: 100%;       
}

.BallForRoundup > div > img{
    margin-left: 52%;
}

#column1 > .ballsInColumn_Div > div,#column2 > .ballsInColumn_Div > div,#column3 > .ballsInColumn_Div > div,#column4 > .ballsInColumn_Div > div, #column5 > .ballsInColumn_Div > div {
    margin-left: 23%;
}

.abacusNumber {
    position: relative;
    width: 94%;
    color: black;
    text-decoration: none;
    background-color: rgba(219,87,5,1);
    font-family: 'Yanone Kaffeesatz';
    font-weight: bold;
    display: block;
    background-size: cover;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    margin: 0px auto;
    text-align: center;
    margin-bottom: 37%;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}

.abacusNumber:active {
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}