@media  screen and (min-width: 10px) {
    body{font-size: 10px;}
  }

@media screen and (min-width: 400px) {
    body{font-size: 13px;}
  
}

@media screen and (min-width: 900px) {
    body{font-size: 15px;}
 
}
@media screen and (min-width: 1100px) {
    body{font-size: 18px;}

}

#countingGame {
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    position: fixed;
    margin-left: 0%;
    margin-right:0%;
    margin-top:  0%;
    width:100%;
    height:100%;
}

.levelButtonsImagesRow{
    margin-top: 23%;
}

.levelOneButtonDiv{
    width: 19%;      left: 11%;
}

.levelTwoButtonDiv{
    width: 19%;      left: 31%;
}

#levelOnePage,#levelTwoPage {
  position: absolute;
  width: 100%;
  height: 100%;
}

.homeIcon{
  width: 30%;
}

.levelTag {
  box-shadow: 1px -1px 0px 0px #8a2a21;
  width: 22%;
  background:linear-gradient(to bottom, #c62d1f 5%, #1709db 100%);
  background-color:#c62d1f;
  border-radius:34px;
  border:0px solid #d02718;
  display:inline-block;
  color:#ffffff;
  font-family:Georgia;
  font-weight:bold;
  text-decoration:none;
  text-shadow:0px 0px 0px #810e05;
  margin-right: 3%;
  top:3;
}

.levelOneMsgBox{
  height: 8%;
}

.levelOneMsgStyle{
   color: white;
   font-weight: bold;
   background-image:url('../img/woodboard.jpg');
   background-repeat: no-repeat;
   text-align: center;
   border-radius: 35px;
   height: 100%;
   padding-top: 1%;
}

.levelOneSubmitButton {
  width: 66%;
}

.Speaker{
  width: 66%;
}

.level1CharacterObjectsBox{
  position: relative;
  width: 100%;
  height: 95%;
  top:4%;
}


.levelTwoMsgBox{
  position: relative;
  width: 100%;
  height: 25%; 
}






















.numberimg{
  height:33px;
  color: #ECEFF1;
  background-color: #263238;
  border-radius: 10px;
  text-align: center;
width: 57px;
  font-weight: bold;
}

.blink_me {
 animation: blinker 1s linear infinite;
}

@keyframes blinker {  
 50% { opacity: 0.5; }
}

.puffIn {
  -webkit-animation-name: puffIn;
  animation-name: puffIn;
}



.objectsBox2{
  position: relative;
  width: 100%;
  height: 90%;
}

.buttonBox{
  position: relative;
  width: 100%;
  height: 0%;
  background-color: green; 
}

.divheight{
  height: 70%;
}

.blockimage {
    margin: 1%;
    height:98%;
    width: 98%;
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}








#level1GiveObjectInDiv,#inWhat2 {
    padding: 10px;
}
#what,#what2 {
    padding: 10px;
}

.blackboard{
   color: white;
   font-weight: bold;
   background-image:url('../img/woodboard.jpg');
   background-repeat: no-repeat;
   border-radius: 35px;
   border: 1px solid darkgreen;
   height: 33%;
}




.backbutton{
    width: 40%;
    float: right;
    margin-right: 38%;
    margin-top: -4%;
}

.threeImagesRow {
    height:80%;
    width: 80%;
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}

#whatBG1{}

.whatrowheight1{  height: 24%;
}
.whatFiveDivC1{                                          
    padding: 0%;
    width: 17%;
    height: 96%;
}
.whatRow1Category1{
  top: 3%;  left: 5%;
}
.whatRow2Category1{
  top: -4%;  left: 5%;
}
#Category1GiveObjectIn{
  padding-top: 7%;    padding-right: 2%
}
.inWhatrowheight1{  height: 30%;
}
.inWhatFiveDivC1{                                                     
    padding: 0%;
    width: 17%;
    height: 96%;
}
.inWhatRow1Category1{
    top: 0%;    left: 13%;
}
.inWhatRow2Category1{
    top: -4%;   left: 13%;
}


/* Category 2 : Elephant..*/
#whatBG1{
}
.whatrowheight2{  height: 24%;
}
.whatFiveDivC2{                                                     
    padding: 0%;
    width: 17%;
    height: 96%;
}
.whatRow1Category2{
  top: 5%;  left: 6%;
}
.whatRow2Category2{
  top: 0%;  left: 6%;
}
#Category2GiveObjectIn{
    padding-top: 7%;
    padding-right: 2%
}
.inWhatrowheight2{  height: 30%;
}
.inWhatFiveDivC2{                                                     
    padding: 0%;
    width: 17%;
    height: 96%;
}
.inWhatRow1Category2{
    top: -3%;    left: 12%;
}
.inWhatRow2Category2{
    top: -12%;   left: 12%;
}


/* Category 3 : Monkey--Banana..*/
#whatBG3{
}
.whatrowheight3{  height: 24%;
}
.whatFiveDivC3{                                                     
    padding: 0%;
    width: 17%;
    height: 96%;
}
.whatRow1Category3{
  top: 5%;  left: 5%;
}
.whatRow2Category3{
  top: -2%;  left: 5%;
}
#Category3GiveObjectIn{
    padding-top: 7%;
    padding-right: 2%
}
.inWhatrowheight3{  height: 30%;
}
.inWhatFiveDivC3{                                                     
    padding: 0%;
    width: 17%;
    height: 96%;
}
.inWhatRow1Category3{
    top: 0%;    left: 10%;
}
.inWhatRow2Category3{
    top: -9%;   left: 10%;
}



/* Category 4 : rabbit--carrot..*/

#whatBG4{
}
.whatrowheight4{  height: 14%;
}
.whatFiveDivC4{                                                     
    padding: 0%;
    width: 17%;
    height: 96%;
}
.whatRow1Category4{
  top: 15%;  left: 8%;
}
.whatRow2Category4{
  top: 20%;  left: 8%;
}
.whatRow3Category4{
  top: 20%;  left: 8%;
}
#Category4GiveObjectIn{
    padding-top: 7%;
    padding-right: 2%
}
.inWhatrowheight4{  height: 14%;
}
.inWhatFiveDivC4{                                                     
    padding: 0%;
    width: 17%;
    height: 96%;
}
.inWhatRow1Category4{
    top: 10%;    left: 10%;
}
.inWhatRow2Category4{
      top: 17%;    left: 10%;
}



/* Category 5 : Cat Fish..*/
.Category5Character{
    padding-top: 37%;
    margin-top: -16%;
}
.whatrowheight5{  height: 19%;
}
.whatFiveDivC5{                                                     
    padding: 0%;
    width: 18%;
    height: 96%;
}
.whatRow1Category5{
  top: 15%;  left: 8%;
}
.whatRow2Category5{
  top: 20%;  left: 8%;
}
.whatRow3Category5{
  top: 20%;  left: 8%;
}
#Category5GiveObjectIn{
    padding-top: 7%;
    padding-right: 2%
}
.inWhatrowheight5{  height: 19%;
}
.inWhatFiveDivC5{                                                     
    padding: 0%;
    width: 17%;
    height: 96%;
}
.inWhatRow1Category5{
   top: 6%;    left: 10%;
}
.inWhatRow2Category5{
   top: 10%;    left: 10%;
}


