body {
   /* background-image: url("../img/new2.jpg");
    background-position: center;
    background-repeat:no-repeat;*/
	background-color:#646464;
	height: 100%;
}

html {
	background-color:#646464;
}

#heading,#level1,#level2,#level3{
    display:none;
}

.GenericButtons{
    border-radius: 10px;
    width: 120%;
    height: 40px;
    color: white;
    font-family: cursive;
    font-size: large;
}

.clearButtons{
	left :88%;
}
.colorBlock{
    float:left;
    height:50px;
    height:50px;
    width:50px;
    margin:2px;
    border: 2px solid silver;
    border-radius: 1px;
}
.nextButtons{
	width: 50%;
	left:50%;
    position: relative;
    top: 80%;
}

.restartButtons,.soundButtons,.clearButtons{
	height: 20%;
    width: 12%;
    position: relative;
    top: 78%;
	display: inline;
}

.restartButtons{
  left: 75%;
}

.soundButtons{
    left: 2%;
}
.forBorder{
	border: 5px solid silver;
	border-radius: 20px;
	margin-top: 2%;
	height:100px;
	padding-left: 5%;
	margin-right:8%;
}
#scrollbar {
          /*width: 100%;*/
	      overflow-x: scroll;
	      overflow-y: hidden;
	      display: -webkit-box;
   		  display: -moz-box;
		  display: -ms-box;
		  display: box;
	      background-color: dimgray;
          overflow-x: scroll !important;
          margin-top:1%;
}
.blockimage {
    margin: 1%;
    height:98%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}

.blockheight {
    margin-top: 1%;
    height: 90%;
}

.showGif {
    background-position: center;
    background-size: contain;
    background-repeat:no-repeat;
	background-color: dimgray;
    margin-top: 1%;
    height:98%;
    width:100%;
    border: 5px solid silver;
	border-radius: 35px;
}
#prevArrow,#nextArrow{
    padding-top:2%;
}
#canvas1,#canvasinner1,#canvas2,#canvasinner2,#canvas3,#canvasinner3 {
    margin:1%;
    height:98%;
    width:98%;
    border: 5px solid silver;
	border-radius: 35px;
}

#signature-pad1 ,#signature-pad2,#signature-pad3{
   /* border: 1px solid black;*/
}

#inner-container1,#inner-container2{
    height: 50%;
}

.m-signature-pad {
  position: absolute;
  font-size: 10px;
  width: 95%;
  height: 75%;
  margin-left: 2%;
  margin-right:2%;
  margin-top:  11.5%;
  /*border: 1px solid #e8e8e8;*/
  background-color: dimgray;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.08) inset;
  /*border-radius: 4px;*/
}

.m-signature-pad:before, .m-signature-pad:after {
	position: absolute;
    z-index: -1;
    content: "";
	width: 40%;
	height: 10px;
	left: 20px;
	bottom: 10px;
	background: transparent;
	-webkit-transform: skew(-3deg) rotate(-3deg);
	-moz-transform: skew(-3deg) rotate(-3deg);
	-ms-transform: skew(-3deg) rotate(-3deg);
	-o-transform: skew(-3deg) rotate(-3deg);
	transform: skew(-3deg) rotate(-3deg);
	box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}

.m-signature-pad:after {
	left: auto;
	right: 20px;
	-webkit-transform: skew(3deg) rotate(3deg);
	-moz-transform: skew(3deg) rotate(3deg);
	-ms-transform: skew(3deg) rotate(3deg);
	-o-transform: skew(3deg) rotate(3deg);
	transform: skew(3deg) rotate(3deg);
}

.m-signature-pad--body {
  position: absolute;
  left: 20px;
  right: 20px;
  top: 20px;
  bottom: 80px;
 /* border: 1px solid #f4f4f4;*/
}

.m-signature-pad--footer {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
  height: 60px;
}

.m-signature-pad--footer
  .description {
    color: white;
    font-size: 3em;
    margin-left: 35%;
  }

.m-signature-pad--footer
  .left, .right {
    position: absolute;
    bottom: 0;
  }

.m-signature-pad--footer
  .left {
    font-size: 1.5em;
    left: 0;
  }

.m-signature-pad--footer
  .right {
    right: 0;
  }

.levelImg {
	height: auto;
	opacity: 0.7;    
	margin-left: 5%;
	margin-right: 5%;
	border-radius: 25px;
	border: 10px solid silver;
}

#image{
	margin-top: 2%;
    margin: 5px;
    height: 50%;
    width: 50%;
} 
